/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fundo geral */
body {
  font-family: 'Segoe UI', sans-serif;
  background: #0f172a;
  color: #fff;
}

/* Título */
h1 {
  text-align: center;
  padding: 20px;
}

/* Board */
.board {
  display: flex;
  gap: 20px;
  padding: 20px;
}

/* Colunas */
.column {
  background: #1e293b;
  padding: 15px;
  width: 30%;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

/* Título da coluna */
.column h2 {
  margin-bottom: 10px;
}

/* Botão adicionar */
.column button {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: none;
  border-radius: 8px;
  background: #3b82f6;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.column button:hover {
  background: #2563eb;
}

/* Lista */
.task-list {
  min-height: 50px;
}

/* Tarefas */
.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #334155;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: grab;
  transition: 0.2s;
}

.task:hover {
  transform: scale(1.02);
}

/* Botão delete */
.task button {
  background: #ef4444;
  color: white;
  border: none;
  padding: 5px 8px;
  border-radius: 6px;
  cursor: pointer;
}

/* Responsivo (celular) */
@media (max-width: 768px) {
  .board {
    flex-direction: column;
  }

  .column {
    width: 100%;
  }
}
/* Fundo escuro */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);

  justify-content: center;
  align-items: center;
}

/* Caixa */
.modal-content {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

/* Input */
.modal input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

/* Botões */
.modal button {
  margin: 5px;
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Tema claro */
.light {
  background: #f1f5f9;
  color: #000;
}

.light .column {
  background: #e2e8f0;
}

.light .task {
  background: #cbd5f5;
}